<div>
    <h1>List of Employees with us!!!</h1>
    <input type="search" placeholder="Find Name" name = "mySearch" [(ngModel)]="searchCriteria" />
    <table border="1">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Address</th>
            <th>Employee Salary</th>
            <th>Options</th>
        </tr>
        <tr *ngFor="let emp of empList | empfilter : searchCriteria">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName | uppercase}}</td>
            <td>{{emp.empAddress | lowercase}}</td>
            <td>{{emp.empSalary | currency : 'INR'}}</td>
            <td><a href="#" (click) = "find(emp.empId)">Edit</a></td>
        </tr>    
    </table>
</div>
<emp-detail [selectedEmp] = foundEmp></emp-detail>
<new-emp (onNewEmp) = "addNewEmp($event)"></new-emp>
<!--
    Improvising the Emp Manager to have add, remove, update functions. 
    Input and Output parameters. 
    Pipes in Angular. 
    Services in Angular.
    how to create an adhoc REST Service using Nodejs. Data will be JSON file
    Life Cycle of an Angular Application 

 -->
