<div>
    <h1>List of Employees with us!!!</h1>
    <input type="search" placeholder="Find Name" name = "mySearch" [(ngModel)]="searchCriteria" />
    <div *ngFor="let emp of empList | empfilter : searchCriteria">
        <emp-detail [selectedEmp] = emp></emp-detail>
    </div>    
</div>
<emp-detail [selectedEmp] = foundEmp></emp-detail>
<new-emp (onNewEmp) = "addNewEmp($event)"></new-emp>
<!--
    Improvising the Emp Manager to have add, remove, update functions. 
    Input and Output parameters. 
    Pipes in Angular. 
    Services in Angular.
    how to create an adhoc REST Service using Nodejs. Data will be JSON file
    Life Cycle of an Angular Application 
 -->
