/* You can add global styles to this file, and also import other style files */
body{
    padding: 5px;
    margin: 5px;
    background-color: lightsteelblue;
    font-size: large;
}

header{
    text-align: center;
    background-color: mediumaquamarine;
    font-size: 36px;
    border: 2px solid lightgreen;
}
/* 
div{
    width: 40%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    border: 2px dashed red;
    margin-left: 5px;
} */